body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* celeste suave para el fondo general */
  padding: 20px;
  margin: 0;
}


 <!-- Bloque “Publícate aquí” -->
  <div class="publicate-aqui">
    <h2>📢 ¡Publícate aquí!</h2>
    <p>¿Tienes un negocio local? Muestra tu anuncio en BarberApp y llega a más clientes.</p>
    <a href="https://wa.me/528111248290?text=Hola,%20quiero%20información%20para%20publicitar%20mi%20negocio%20en%20Snacky%20Almería"
       class="btn-publicidad">Contáctanos por WhatsApp</a>
  </div>

/* Título */
.titulo { text-align: center; font-size: 2em; color: #d17b88; margin: 20px 0; }

/* Producto compacto */
.producto {
  background-color: #b3e5fc; /* celeste más brillante */
  border: 1px solid #81d4fa; /* borde celeste */
  border-radius: 8px;
  padding: 10px;
  margin: 10px 0;
}


.info h2 { margin: 0; font-size: 1.2em; color: #d17b88; }
.info p { margin: 5px 0; color: #333; }

select, button { margin-top: 5px; padding: 5px; font-size: 1em; }

/* Total y acciones */
#total { margin-top: 20px; background: #fff0f5; padding: 15px; border-radius: 8px; border: 1px solid #d17b88; }
#acciones { margin-top: 10px; text-align: center; }
#acciones button { background: #d17b88; color: #fff; border: none; padding: 10px 15px; margin: 5px; border-radius: 6px; cursor: pointer; }
#acciones button:hover { background: #b85f70; }

.subtitulo { text-align: center; font-size: 1.5em; color: #d17b88; margin-bottom: 15px; }

